extends ../_base

block append css
  link(rel='stylesheet', href='/css/knitting.css')

block content
  h3 Knitting

  p I started knitting in the summer of 2014. I found it immediately both fun and relaxing, and you get the satisfaction of making a physical object yourself.

  p I've so far only attempted small projects, because of the time needed, so I've made small stuffed toys for myself and my friends. I think they make fantastic presents for birthdays and christmas, I think people appreciate them because of the ammount of time and care that has gone into them.

  p For the patterns I've created myself I will try to write them up and put them here, for other things I'll just upload some pictures and try to link to the pattern I used.

  table(class='grid')
    tr(class='sizing-row')
      td(style='width: 33%')
      td(style='width: 33%')
      td(style='width: 33%')

    tr
      td(rowspan='2')
        b Penguin
        p This was the first thing I knitted at all, so I was rather surprised it was such a success. This penguin has become my constant desktop companion. Some people have accused it of being the Linux penguin but I tell you it is not.
        a(href='/img/knitting/animals/penguin.jpg')
          img(src='/img/knitting/animals/penguin_thumb.jpg')
        p
          a(href='http://www.knitty.com/ISSUEwinter04/PATTpasha.html') Pattern

      td
        b Dog
        p I made this for a work-friend who was mad about dogs, they adored them all and I thought it would be nice to give them this as a parting gift.
        a(href='/img/knitting/animals/dog.jpg')
          img(src='/img/knitting/animals/dog_thumb.jpg')
        p
          a(href='http://www.theguardian.com/lifeandstyle/2010/oct/05/knitting-pattern-jack-russell?intcmp=239') Pattern

      td
        b Cloyster
        p This was the first project where I'd made it up myself rather than using someone else's pattern. I asked my friend what his favourite Pokemon was and he picked Cloyster. Not the easiest one to knit if I do say so.
        a(href='/img/knitting/pokemon/cloyster_1.jpg')
          img(src='/img/knitting/pokemon/cloyster_1_thumb.jpg')
        p
          a(href='/articles/knitting/patterns/cloyster.html') Pattern

    tr
      td
        b Cat
        p At the same time I was also working with someone who was definitely a cat person, there were many dog vs cat arguments so this seemed like a perfect dual gift.
        a(href='/img/knitting/animals/cat.jpg')
          img(src='/img/knitting/animals/cat_thumb.jpg')
        p
          a(href='http://lillielil.livejournal.com/195349.html') Pattern

      td
        b Robin
        p This was a gift to someone to say thank you. Turns out though there are no good robin patterns free on the web, so I had to adapt a bluetit by changing the colours.
        p
          a(href='http://www.lionbrand.com/faq/551.html') Pattern

    tr
      td
        b Smurfette
        p This was a gift to somone for their birthday since they had a large drawing of Smurfette on their wall. I think they were impressed.
        a(href='/img/knitting/misc/smurfette.jpg')
          img(src='/img/knitting/misc/smurfette_thumb.jpg')
