extends base

block append scripts
  script(src='http://cdnjs.cloudflare.com/ajax/libs/processing.js/1.4.8/processing.js')

block append content
  h2 Hello World!
  p This is my first attempt at writing processing.

  canvas(data-processing-sources='hello.pde')
