extends base

block append content
  h2 Falling Matrix text
  p I've always wanted to try to make some falling text like this. I think it would make a fantastic screensaver.

  canvas(data-processing-sources='matrix.pde')
