extends ../../_base

block append css
  link(rel='stylesheet', href='/css/passphrase.css')

block append scripts
  script(src='/articles/passphrase/passphrase.js')

block content
  h3 Passphrase generator

  p I'm a strong proponant of passphrases, eg: case-knee-bat-grape. In almost every sense they are far better than passwords made from 6-8 hard to remember symbols, eg: a6h%S\9F. They are both stronger and so harder for computers to crack, and easier to remember by humans. Their strength comes from their length which gives then a high entropy. If you tried to naively brute force one there would be 26^16 = 4.4x10^22 possibilities, and even if you know it's made from four short words then there are still 7000^4 = 2.4x10^15 possibilities.

  p So to help me I made my own passphrase generator, because why trust somebody else when you can write it yourself? This is going against the normal advice is security of not to try as you'll likely get it wrong, but with something this simple I say why not.

  p This implementation picks four random words from a list of 7512 3-5 letter english words, using suitably secure random number generation. Of course all this is negated by the fact that it's served over unsecure HTTP, but oh well...

  div(class='row')
    div(class='col', style='width: 30%')
      button(id='generate') Generate!
    div(id='passphrase', class='col', style='width: 70%')
