@import "../variables";
@import "../default";

#output-line {
    margin-bottom: $standard-margin;
}

$button-min-width: 150px;
$output-min-width: 500px;

#generate {
    min-width: $button-min-width;
    max-width: 300px;
    height: 48px;
    font-size: 24px;
}

#passphrase {
    min-width: $output-min-width;
    max-width: 700px;
    height: 48px;
    font-size: 32px;
    line-height: 42px;
    text-align: center;
    border: 1px solid gray;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

@media (max-width: $button-min-width + $output-min-width + $standard-margin * 2) {
    #generate {
        min-width: inherit;
        max-width: inherit;
        flex-basis: 100%;
    }

    #passphrase {
        min-width: inherit;
        max-width: inherit;
        flex-basis: 100%;
    }
}

@media (max-width: $output-min-width + $standard-margin * 2) {
    #passphrase {
        font-size: 24px;
    }
}

#numwordsinputwrapper {
    min-width: 210px;
}

#usecapsinputwrapper {
    min-width: 160px;
}

#numnumsinputwrapper {
    min-width: 280px;
}
