extends ../../layout

block append scripts
  script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
  script(src='/graphics/jquerysvg/jquery.svg.js')
  script(src='/graphics/jquerysvg/jquery.svganim.js')
