extends base

block append scripts
  script(type="text/paperscript", src="/graphics/paperjs/matrix.js", canvas="canvas")

block append content
  canvas(id='canvas', width='800px', height='600px', style='background-color: #000000')