$max-page-width: 1000px;

$standard-margin: 20px;

$green-light:     #50A25F;
$green-dark:      #2E6F3F;
$blue-light:      #44BCED;
$blue-dark:       #287696;
$grey-very-light: #F2F2F2;
$grey-light:      #999999;
$grey-dark:       #333333;
