body {
    margin: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

.header {
    width: 100%;
    height: 64px;
    background: #000033;
    color: #FFFFFF;
}

.content {
    max-width: 1000px;
    min-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.site-name {
    float: left;
    height: 24px;
    line-height: 24px;
    margin: 0;
    font-size: 2em;
    text-decoration: none;
    color: #FFFFFF;
}

.row {
    zoom: 1;
}

.row:before, .row:after {
    content: '\0020';
    display: block;
    height: 0;
    overflow: hidden;
}

.row:after {
    clear: both;
}

.col {
    float: left;
}
