body {
    margin: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

.header {
    width: 100%;
    height: 64px;
    background: #000033;
    color: #FFFFFF;
}

.content {
    max-width: 1000px;
    min-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.site-name {
    float: left;
    height: 24px;
    line-height: 24px;
    margin: 0;
    font-size: 2em;
    text-decoration: none;
    color: #FFFFFF;
}

.top-nav {
    float: right;
    margin: 0;
}

.top-nav li {
    display: inline;
    list-style-type: none;
    margin-right: 40px;
}

.top-nav li a {
    height: 24px;
    line-height: 24px;
    font-size: 1.2em;
    text-decoration: none;
    color: #FFFFFF;
}

.top-nav li a:hover {
    text-decoration: underline;
}

.example-table {
    width: 100%;
}

.example-table tr td {
    vertical-align: top;
    padding: 4px;
}

.example-img {
    width: 200px;
}
