@import "variables";

/***** resets *****/

* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

.no-hover-underline:hover {
    text-decoration: none;
}

img {
    border: none;
    width: 100%;
}

/***** general theme *****/

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

h1,
a {
    color: $green-dark;
}

.background-blue-dark {
    background-color: $blue-dark;
    color: white;
}

.background-blue-dark a,
.background-blue-dark h1 {
    color: white;
}

p {
    margin-bottom: $standard-margin;
}

/***** margins *****/

.margin-below {
    margin-bottom: $standard-margin;
}

/***** floating *****/

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.clear-both {
    clear: both;
}

.clear-after:after {
    content: "";
    display: table;
    clear: both;
}

/***** flexbox *****/

.flexbox {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
}

.flexbox > * {
    flex: 1;
    position: relative;
}

.flexbox.wrap {
    flex-wrap: wrap;
}

.flexbox.padded {
    margin-left: -$standard-margin;
    margin-right: -$standard-margin;
}

.flexbox.padded > * {
    padding: $standard-margin;
}

/***** main body width *****/

.body {
    max-width: $max-page-width;
    margin: $standard-margin auto;
    padding: 0px;

    @media (max-width: $max-page-width + 40px) {
        width: 100%;
        margin-top: 0px;
        margin-bottom: 0px;
    }
}

.body:after {
    content: "";
    display: table;
    clear: both;
}

/***** header *****/

$header-height: 64px;
$site-name-font-size: $header-height / 2;
$header-links-font-size: $header-height / 3;

.header {
    height: $header-height;
    margin-bottom: $standard-margin;
    @extend .background-blue-dark;
}

.site-name {
    height: $header-height;
    line-height: $header-height;
    margin: 0px $standard-margin;
    font-size: $site-name-font-size;
    @extend .no-hover-underline;
}

.header-links {
    float: right;
    list-style-type: none;
    font-size: $header-links-font-size;
    line-height: $header-links-font-size;
    height: $header-links-font-size;
    margin-top: ($header-height - $header-links-font-size) / 2;
}

.header-links:after {
  content: "";
  display: table;
  clear: both;
}

.header-links > li {
    float: left;
    padding-left: $standard-margin;
    padding-right: $standard-margin;
    border-right: 2px solid white;
}

.header-links > li:last-child {
    border-right: 0;
}

/***** main content *****/

.content {
    margin-bottom: $standard-margin;

    @media (max-width: $max-page-width + 40px) {
        padding-left: $standard-margin;
        padding-right: $standard-margin;
    }
}
