@use "sass:math";

@import "variables";
@import "default";

@media (max-width: 800px) {
    .flexbox > .about-column,
    .flexbox > .article-column {
        flex-basis: 100%;
    }
}

.about-box {
    background-color: $grey-very-light;
    padding: $standard-margin;
    box-shadow: -4px 4px 4px $grey-light;
    margin-bottom: $standard-margin * 3;
}

.article {
    margin-bottom: $standard-margin * 3;
}

.article-header {
    display: block;
    padding: ($standard-margin * 0.6) $standard-margin;
    @extend .background-blue-dark;
    @extend .no-hover-underline;
}

.article-body {
    padding: 0px $standard-margin;
}

.article-image-wrapper {
    padding: math.div($standard-margin, 2);
}

.article-footer {
    text-align: right;
    font-size: 24px;
}
