extends _base

block append scripts
  script(src="/articles/graphics/raphaeljs/matrix.js")

block append content
  div(style='width: 800px; height: 600px')
    div(id='canvas', style='background-color: #000000')