doctype html
html(lang='en')
  head
    block meta
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
      meta(name='viewport', content='width=device-width')

      link(rel='icon', type='image/png', href='/data/favicon.png')

    title
      block title
        | Brignull.co.uk

    block css
      block css-fonts
        link(href='http://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')

      block css-lib

      block css-ours
        link(rel='stylesheet', href='/default.css')
      
  body
    div(class='body')
      block header
        div(class='header')
          a(class='site-name', href='/') Brignull.co.uk

          ul(class='header-links')
            li
              a(href='/') home
            li
              a(href='/about.html') about

      div(class='content')
        block content

      block scripts
