extends layout

block content
  div(class='row')
    div(class='col col_1_of_2')
      img(src='/img/mugshot.png')
    div(class='col col_1_of_2')
      h3 About me
      p My name is Robert Brignull.