extends layout

block content

  div(class='row')
    div(class='col col_1_of_4')
      div(class='index-icon-wrapper')
        a(href='/processingjs.html', class='index-icon-title') Processing.js
          img(src='/img/processing2-logo.jpg', class='index-icon-img')