extends layout

block append css
  link(rel='stylesheet', href='/css/index.css')

block content
  a(href='/articles/graphics/graphics.html')
    h3 Web Graphics
  
  p In an effort to learn about the different libraries out there and to decide which I feel is best, I've implemented a number of small examples using multiple libraries. I've tried to compare their conciseness, ease of writitng, performance and prettiness of outcome.

  p The six technologies I'll be testing out are: 

  div(class='row')
    div(class='col', style='width: 16.6%')
      a(class='logo', href='http://www.w3schools.com/html/html5_canvas.asp') HTML5 canvas
        img(src='/img/graphics/HTML5.png')
    div(class='col', style='width: 16.6%')
      a(class='logo', href='http://processingjs.org/') Processing.js
        img(src='/img/graphics/processingjs.jpg')
    div(class='col', style='width: 16.6%')
      a(class='logo', href='http://paperjs.org/') Paper.js
        img(src='/img/graphics/paper-js.gif')
    div(class='col', style='width: 16.6%')
      a(class='logo', href='http://raphaeljs.com/') Raphael.js
        img(src='/img/graphics/raphaeljs.png')
    div(class='col', style='width: 16.6%')
      a(class='logo', href='http://snapsvg.io/') Snap.svg
        img(src='/img/graphics/snap.jpg')
    div(class='col', style='width: 16.6%')
      a(class='logo', href='http://keith-wood.name/svg.html') jQuery SVG
        img(src='/img/graphics/jquery.jpg')
