extends _base

block append css
  link(rel='stylesheet', href='/index.css')

block content
  div(class='flexbox padded wrap')
    div(class='about-column')
      div(class='about-box')
        h1(class='margin-below') Welcome

        p This is my personal website. I host here some services which I find useful and others things I'd like to document.



    div(class='article-column')
      div(class='article')
        a(class='article-header', href='/passphrase')
          h1 Passphrase generator

        div(class='article-body')
          div(class='article-image-wrapper')
            img(class='article-image', src='/data/index/passphrase.png')

          p Passphrases are great. They are easier to remember than traditional passwords, and potentially harder to break - so there's really no argument against them. To help me in my quest to change all my online passwords to this style I made my own generator and use it myself regularly.

        div(class='article-footer')
          a(href='/passphrase') Read more...



      div(class='article')
        a(class='article-header', href='/knitting')
          h1 Knitting

        div(class='article-body')
          div(class='article-image-wrapper')
            img(class='article-image', src='/data/index/knitting.jpg')

          p I started knitting in the summer of 2014 and I found it immediately both fun and relaxing. This is a log of some of the things I've made, with pictures and links to patterns.

        div(class='article-footer')
          a(href='/knitting') Read more...
