extends _base

block append css
  link(rel='stylesheet', href='/index.css')

block content
  div(class='flexbox padded wrap')
    div(class='about-column')
      div(class='about-box')
        h1(class='margin-below') Welcome

        p I would like to take this opportunity to welcome you to my website. I host here some services which I find useful and generally some things I'd like to document.

        p
          | To find out more about me head over to the 
          a(href='/about.html') about page
          | . Otherwise please just have a look around.

    div(class='article-column')
      div(class='article')
        a(class='article-header', href='/passphrase')
          h1 Passphrase generator

        div(class='article-body')
          div(class='article-image-wrapper')
            img(class='article-image', src='/data/index/passphrase.png')

          p I'm a strong proponent of passphrases. They are both harder to break and easier to remember than traditional passwords - so there's really no argument against them. To help me in my quest to change all my online passwords to this style I made my own generator and use it myself regularly.

        div(class='article-footer')
          a(href='/passphrase') Read more...



      div(class='article')
        a(class='article-header', href='/knitting')
          h1 Knitting

        div(class='article-body')
          div(class='article-image-wrapper')
            img(class='article-image', src='/data/index/knitting.jpg')

          p I started knitting in the summer of 2014 and I found it immediately both fun and relaxing. I have always enjoyed the satisfaction of making a physical object myself.

          p So far I've only attempted small projects such as stuffed toys and they've made fantastic presents for birthdays and Christmas. I think people appreciate them because of the amount of care that has gone into them.

        div(class='article-footer')
          a(href='/knitting') Read more...
