doctype html
html(lang='en')
  head
    block meta
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
      meta(name='viewport', content='width=device-width')

    title
      block title
        | Robert Brignull

    block css
      link(rel='stylesheet', href='/css/default.css')
      
  body
    block header
      div(class='header')
        div(class='content')
          a(class='site-name', href='/') Brignull.co.uk

          ul(class='top-nav')
            li
              a(href='/') index
            li
              a(href='/about.html') about me

    div(class='content')
      block content

    block scripts
