extends layout

block content
  h2 Processing.js
  p
    a(href='http://processing.org/') Processing
    |  is a open-source programming language initially designed for use as a software sketchbook and for teaching the fundamentals of computer science. It has since grown in a development tool for professionals, used by tens of thousands of students, artists, designers, researchers, and hobbyists for learning, prototyping, and production.
  p
    a(href='http://processingjs.org/') Processing.js
    |  is a project to translate raw Processing code into Javascript for use with the HTML5 canvas element. By bringing Processing to the web it enables your data visualizations, digital art, interactive animations, educational graphs, video games, etc... to run with high performance and without the need for any plugins.

  br

  p What I'm doing is simply trying to learn Processing, not for any grand purpose but just to make some cool demos which I will display here.

  ul
    li
      a(href='/processingjs/hello.html') Hello world!
    li
      a(href='/processingjs/matrix.html') Falling Matrix text